* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: #000000;
    color: #00ff00;
    font-size: 17px;
}

h1 {
    text-align: center;
}

p {
    margin: 25px auto;
    width: 550px;
}